{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'producto_usuarios_list' %}">Productos Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>rut</td>
    <td>descripcion</td>
    <td>precio</td>
    <td>descuento</td>
    <td>nombre</td>
    <td>categoria</td>
    <td>activa</td>
    <td>imagen_principal</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.rut }}</td>
    <td>{{ object.descripcion }}</td>
    <td>{{ object.precio }}</td>
    <td>{{ object.descuento }}</td>
    <td>{{ object.nombre }}</td>
    <td>{{ object.categoria }}</td>
    <td>{{ object.activa }}</td>
    <td>{{ object.imagen_principal }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'producto_usuarios_create' %}">Create new Productos</a>
{% endblock %}